<link rel="stylesheet" type="text/css" href="style.css">
<div class="headers">

  <form class="form" action="/signup" method="get" >
    <input class="button" type="submit" id="signup" value="Cadastrar">
  </form>

  <form class="form" action="/login" method="post">
    <p class="textbox">Password: </p>
    <input class="textbox" type="text" name="username" id="username">
    <p class="textbox">User Name: </p>
    <input class="textbox" type="text" name="password" id="password">

    <input class="button" type="submit" name="loginButton" value="Entrar" id="login">
  </form>


</div>
