<p style="font-size: 20px; text-align: center">Cadastro efetuado com sucesso!</p>
<p style="font-size: 20px; text-align: center">Por favor, clique no link recebido em
  seu e-mail para validar sua conta</p>